<%- include("header") -%>

<h2>This is the about page</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure placeat sunt
  excepturi at cupiditate necessitatibus laboriosam autem facere, corrupti
  sapiente, ut molestias voluptatem commodi inventore minus voluptas ad ducimus
  fugiat aperiam voluptates? Veniam culpa aut labore cupiditate, nesciunt iure
  ex, ea velit voluptatibus quaerat, voluptatum aliquam minus doloremque
  dignissimos voluptatem?
</p>

<%- include("footer") -%>
